* { box-sizing: border-box; }

html {
  font-family: sans-serif;
  font-size: 1em;
  line-height: 2.2em;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

footer {
  height: 0vh;
}

header {
  height: 0vh;
}

header { background: black;}
.main-content { background: white;}
.main-title { background: #00A39D;}
.about-main-content { background: white;}
.about-title { background: #FE3F46;}
.work-main-content { background: #00A39D;}
.work-title { background: white; }
.contact-title { background: #00A39D;}
.contact-main-content { background: #FE3F46;}
footer { background: black;}

header,
footer {
  color: #FE3F46;
}

#my-name {
  max-width: 100%;
  height: auto;
  position: relative;
  display: block;
  margin: auto;
  top: calc(50% - 120px);
  z-index: 900;
}

.main-title {
  position: relative;
  color: white;
}

.about-title {
  color: white;
}

.about-main-content {
  color: black;
  padding: 110px;
}

.work-title {
  color: black;
}

.work-main-content {
  color: white;
  padding: 110px;
}

.contact-title {
  color: white;
}

.contact-main-content {
  color: white;
  padding: 110px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 7fr 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer"
}

.main-content {
  scroll-snap-type: y proximity;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "title"
    "about"
    "work"
    "contact"
}

.main-title {
  height: 100vh;
  scroll-snap-align: start;
}

.about {
  height: 100vh;
  z-index: 1;
  scroll-snap-align: start;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 7fr;
  grid-template-areas:
    "about-title"
    "about-main"
}

.work {
  height: 100vh;
  z-index: 1;
  scroll-snap-align: start;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 7fr;
  grid-template-areas:
    "work-title"
    "work-main"
}

.contact {
  z-index: 1;
  height: 100vh;
  scroll-snap-align: start;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 7fr;
  grid-template-areas:
    "contact-title"
    "contact-main"
}

.main-content,
.about-main-content,
.work-main-content,
.contact-main-content {
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

.main-content::-webkit-scrollbar,
.about-main-content::-webkit-scrollbar,
.work-main-content::-webkit-scrollbar,
.contact-main-content::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.about-title,
.work-title,
.contact-title {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1000;
}

.triangles {
  overflow: hidden;
  position: absolute;
  width: 0px;
}

#background-container {
  position: absolute;
  top: 10%;
  height: 100vh;
  width: 100vw;
}

#background-image {
  display: block;
  bottom: 0vh;
  margin: auto;
  max-height: 90%;
  width: 100%;
  width: auto;
  max-width: 100%;
}

.baked-bean {
  max-width: 100%;
  height: auto;
  position: absolute;
  display: block;
}

#baked-bean-1 {
  margin-left: 70%;
  margin-right: 30%;
  top: calc(80% - 120px);
}

#baked-bean-2 {
  margin-left: 40%;
  margin-right: 60%;
  top: calc(70% - 120px);
}

#baked-bean-3 {
  margin-left: 50%;
  margin-right: 50%;
  top: calc(90% - 120px);
}

#baked-bean-4 {
  margin-left: 30%;
  margin-right: 70%;
  top: calc(77% - 120px);
}

#baked-bean-5 {
  margin-left: 60%;
  margin-right: 40%;
  top: calc(75% - 120px);
}

#baked-bean-6 {
  margin-left: 40%;
  margin-right: 60%;
  top: calc(100% - 120px);
}

#background-image-small {
  max-width: 100%;
  height: auto;
  position: absolute;
  display: block;
}

.border {
  z-index: 1001;
  top: -50px;
}

#top-border img {
  bottom: 4.5vh;
  position: relative;
  max-width: 100%;
  min-width: 100%;
  z-index: 1000;
}

@media only screen
and (max-width: 900px)
and (-webkit-min-device-pixel-ratio: 2){


  .work-title { background: black; }
  .contact-title { background: white;}

  .about-main-content,
  .work-main-content,
  .contact-main-content {
    font-size: 1.5em;
    line-height: 2em;
    padding: 0px 30px 0px 30px;
  }

  .baked-bean {
    display: none;
  }

  #background-image {
    display: none;
  }

  #background-image-small {
    position: relative;
    display: block;
    left: 50%;
    top: 10vh;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  #top-border img {
    top: -2vh;
  }

  #face {
    position: absolute;
    right: 20px;
    bottom: 5%;
    height: auto;
    max-height: 80%;
    max-width: 80%;
    z-index: 1000;
  }

  #about-me {
    position: absolute;
    left: 10px;
    bottom: 20px;
    height: auto;
    max-height: 65%;
    max-width: 65%;
    z-index: 1000;
  }

}

@media only screen
and (min-width: 901px)
and (-webkit-min-device-pixel-ratio: 2) {

  .body {
    grid-template-columns: minmax(350px, 960px) minmax(350px, 960px);
    grid-template-rows: 1fr 7fr 1fr;
    grid-template-areas:
      "header header"
      "main main"
      "footer footer"
  }

  .main-content {
    scroll-snap-type: y proximity;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "title"
      "about"
      "work"
      "contact"
  }

  .about {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "about-title about-main"
  }

  .work {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "work-title work-main"
  }

  .contact {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "contact-title contact-main"
  }

  .about-title,
  .work-title,
  .contact-title {
    height: 100vh;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .triangles {
    overflow: visible;
    bottom: 0;left: 0;
    position: absolute;
    width: 0%;
    border-left: 0px solid transparent;
    border-right: 150px solid transparent;
  }

  #title-triangle {
    border-bottom: 150px solid #FE3F46;
  }

  #about-triangle {
    border-bottom: 150px solid white;
  }

  #work-triangle {
    border-bottom: 150px solid #00A39D;
  }

  #title-arrow,
  #about-arrow,
  #work-arrow {
    position: relative;
    top: 220px;
    right: -15px;
  }

  #background-image-small {
    display: none;
  }

  #face {
    position: absolute;
    left: calc(100% + 100px) ;
    top: 20vh;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    width: 200px;
    height: 200px;
    z-index: 1000;
  }

  #about-me {
    position: absolute;
    left: calc(50% + 160px);
    bottom: calc(50% - 50px);
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    width: 320px;
    height: 100px;
    z-index: 1000;
  }
}


header { grid-column: header / header; }

.main-content { grid-area: main; }

.main-title { grid-area: title; }

.about { grid-area: about }
.about-main-content { grid-area: about-main; }
.about-title { grid-area: about-title; }

.work { grid-area: work }
.work-main-content { grid-area: work-main; }
.work-title { grid-area: work-title; }

.contact { grid-area: contact }
.contact-main-content { grid-area: contact-main; }
.contact-title { grid-area: contact-title; }

footer { grid-area: footer; }
