* { box-sizing: border-box; }

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

header,
.main-title,
.about-main-content,
.about-title,
.work-main-content,
.work-title,
.contact-title,
.contact-main-content,
footer {
  padding: 10px;
}

footer {
  height: 11vh;
}

header {
  height: 11vh;
}

header { background: black;}
.main-content { background: white;}
.main-title { background: #262626;}
.about-main-content { background: white;}
.about-title { background: #FF5656;}
.work-main-content { background: #262626;}
.work-title { background: white; }
.contact-title { background: #262626;}
.contact-main-content { background: #FF5656;}
footer { background: black;}

header {
  color: #FF5656;
}

.main-title {
  position: relative;
  color: white;
}

.about-title {
  color: white;
}

.about-main-content {
  color: black;
}

.work-title {
  color: black;
}

.work-main-content {
  color: white;
}

.contact-title {
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 7fr 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer"
}

.main-content {
  scroll-snap-type: y proximity;
  height: 78vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "title"
    "about"
    "work"
    "contact"
}

.main-title {
  height: 78vh;
  scroll-snap-align: start;
}

.about {
  height: 78vh;
  scroll-snap-align: start;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 7fr;
  grid-template-areas:
    "about-title"
    "about-main"
}

.work {
  height: 78vh;
  scroll-snap-align: start;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 7fr;
  grid-template-areas:
    "work-title"
    "work-main"
}

.contact {
  height: 78vh;
  scroll-snap-align: start;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 7fr;
  grid-template-areas:
    "contact-title"
    "contact-main"
}

.main-content,
.about-main-content,
.work-main-content,
.contact-main-content {
  overflow-y: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}

.main-content::-webkit-scrollbar,
.about-main-content::-webkit-scrollbar,
.work-main-content::-webkit-scrollbar,
.contact-main-content::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.about-title,
.work-title,
.contact-title {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1000;
}

#title-arrow,
#about-arrow,
#work-arrow {
  display: none;
}


@media only screen and (min-width: 860px) {
  .body {
    grid-template-columns: minmax(350px, 960px) minmax(350px, 960px);
    grid-template-rows: 1fr 7fr 1fr;
    grid-template-areas:
      "header header"
      "main main"
      "footer footer"
  }

  .main-content {
    scroll-snap-type: y proximity;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "title"
      "about"
      "work"
      "contact"
  }

  .about {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "about-title about-main"
  }

  .work {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "work-title work-main"
  }

  .contact {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "contact-title contact-main"
  }

  .about-title,
  .work-title,
  .contact-title {
    height: 78vh;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .triangles {
    bottom: 0;left: 0;position: absolute;width: 0%;
    border-left: 0px solid transparent;
    border-right: 150px solid transparent;
  }

  #title-triangle {
    border-bottom: 150px solid #FF5656;
  }

  #about-triangle {
    border-bottom: 150px solid white;
  }

  #work-triangle {
    border-bottom: 150px solid #262626;
  }

  #title-arrow,
  #about-arrow,
  #work-arrow {
    display: block;
    position: relative;
    top: 145px;
    right: -15px;
  }

  #work-triangle img {
    -webkit-filter: invert(1);
    filter: invert(1);
  }


}


header { grid-column: header / header; }

.main-content { grid-area: main; }

.main-title { grid-area: title; }

.about { grid-area: about }
.about-main-content { grid-area: about-main; }
.about-title { grid-area: about-title; }

.work { grid-area: work }
.work-main-content { grid-area: work-main; }
.work-title { grid-area: work-title; }

.contact { grid-area: contact }
.contact-main-content { grid-area: contact-main; }
.contact-title { grid-area: contact-title; }

footer { grid-area: footer; }
